@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body { */
    /* /~ display: flex; ~/ */
    /* /~ align-items: center; ~/ */
    /* /~ justify-content: center; ~/ */
    /* /~ min-height: 100vh; ~/ */
    /* /~ font-family: 'Roboto', sans-serif; ~/ */
/* } */
section.chat__section {
    width: 800px;
    max-width: 90%;
    background: #fff;
    height:fit-content;
}
#feedback{
    margin-left: 30px;
    color: #2d2c2c;
}
.brand {
    padding: 5px;
    background-color: #e0e7eb;
    display: flex;
    align-items: center;
    /* text-shadow: 2px 2px white; */
}
.brand h1 {
    text-transform: capitalize;
    font-size: 20px;
    color: #444;
    font-style: italic;
    margin-left: 10px;  
    font-variant: small-caps;
    text-decoration: underline;
}

/* textarea { */
    /* width: 100%; */
    /* border: none; */
    /* padding: 20px; */
    /* font-size: 16px; */
    /* outline: none; */
    /* background: #FBFBFB; */
    /* border: solid; */
    /* border-radius: 10px; */
    /* border-width: 1px; */
    /* height: 50px; */
/* } */

.message {
    padding: 10px; 
    padding-bottom: 0px;
    height: auto;
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming {
    background: hsl(199deg 21% 90%);
    color: #000;
    margin-right: auto;
    word-break:break-word;
    max-width: 50%;
    min-width: auto;
    margin-top: -35px;
}
.outgoing {
    background: #e1ffc7;
    color: #000;
    margin-left: auto;
    word-break:break-word;
    max-width: 50%;
    margin-top: -35px;
}
.message h4 {
    position: sticky;
    top: -20px;
    left: 0;
    color: #0042ff8c;
    font-size: 14px;
    text-decoration: underline;
}
.message_area{
    height: 82vh;
    padding-left: 18px;
    padding-right: 18px;
    width: auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
    background-image: url('../purple.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 0px 8px black);
}
#demo{
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: -40px;
}
img{
    height: 50px;
    width: 75px;
}
.chat{
    text-align: center;
    background-color: white;
    border-style: double;
    border-radius: 20px;
    padding: 4px;
    margin-left: 30%;  
    margin-right: 30%;
    margin-bottom: 6%;
}
.notification{
    margin-bottom: 34px;
    margin-top: -25px;
}
/* .message__area{ */
    /* height: 500px; */
    /* padding: 16px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* overflow-y: auto; */
    /* padding-top: 40px; */
/* } */

.textarea-container { 
    position: relative; 
  } 
  .textarea-container textarea { 
    width: 100%; 
    height: 100%; 
    outline: none;
    /* padding: 0px 30px; */
    padding-right: 80px;
    padding-left: 25px;
} 
  .textarea-container button { 
    position: absolute; 
    top: 0; 
    right: 0; 
    background: transparent;
    border: none;
    /* padding: 12px; */
    margin-right: 15px;
  }
  @media  (max-width:400px){
    #pic{
        background-image: url('../what.jpg');
    }
  }